.TableData{
    border: 1px solid lightblue;
}

.RowExpand{
    font-size: 13px;
    color: dimgray;
}

.TableDataHeader{
    background-color: lightblue
}

.FlagLogo{
    height: 20px;
}

.ProductImage{
    height: 250px;
}